*,
*::after,
*::before {
  box-sizing: border-box;
}
input,
button {
  font: inherit;
}
.page-body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}
.page-body__wrapper {
  background-image: url(./img/phone.png);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.page-header {
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 18px 79px;
}
.logo {
  margin-right: auto;
  text-decoration: none;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
}
.page-header a:hover {
  color: #3cb878;
}
.page-header__contact {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  column-gap: 26px;
  align-items: center;
}
.page-header__contact::after {
  border-right: 1px solid #ffffff;
  content: "";
  height: 19px;
}
.page-header__contact-link {
  text-decoration: none;
  color: #ffffff;
}
.page-header__auth {
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  margin-left: 27px;
  margin-top: 0;
  margin-bottom: 0;
}
.page-header__auth-link {
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-decoration: none;
}
.main-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 54px;
  padding-bottom: 54px;
}
.forma-wrapper {
  background: #ffffff;
  width: 444px;
  /* margin-left: auto;
  margin-right: auto; */

  padding: 31px 60px 38px;
  vertical-align: middle;
}
.forma-wrapper__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.forma__signup-link {
  font-size: 20px;
  line-height: 20px;
  color: #434343;
  text-decoration: none;
  margin-right: 200px;
  margin-bottom: 15px;
  position: relative;
}
.forma__signup-link::before {
  display: block;
  background: #3cb878;
  width: 18px;
  height: 18px;
  content: "";
  position: absolute;
  left: -60px;
}
.forma__login-link {
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
  text-decoration: none;
}
.forma__login-link:hover {
  text-decoration: underline #01813f solid;
  color: #01813f;
}
.button-auth {
  display: flex;
  align-items: center;
  padding: 11px 20px 11px 16px;
  border-radius: 4px;
  width: 160px;
  height: 48px;
  border: none;
}
.facebook {
  background-color: #305db8;
}
.facebook:hover {
  background: #022263;
}
.google {
  background: #df4a32;
  margin-left: 4px;
}
.google:hover {
  background: #ab1f09;
}
.social {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}
.social::before {
  content: "";
  height: 28px;
  width: 1px;
  background: #0a162f;
  opacity: 0.1;
  margin-left: 18px;
  margin-right: 18px;
  padding-top: 17px;
}
.img-or-line {
  margin-top: 34px;
  margin-bottom: 5px;
}
.form-field {
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  width: 322px;
  height: 44.08px;
  padding: 14px 20px 16px;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 14px;
  color: #bebebe;
}
.form-field:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  background: #ffffff;
  outline: none;
  color: #434343;
}
.form-field::placeholder {
  color: #bebebe;
}
.form-field:focus::placeholder {
  color: #434343;
}
.checkbox_terms {
  color: #3cb878;
  text-decoration: none;
}
.checkbox_terms:hover {
  color: #01813f;
  text-decoration: none;
  border-bottom: 1px solid #01813f;
  padding-bottom: 2px;
}
.checkbox_form {
  accent-color: #3cb878;
}
.createaccount {
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  padding: 16px 99px;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  border-color: inherit;
  margin-top: 20px;
}
.createaccount:hover {
  background: #01813f;
}
.agreewithour {
  color: #434343;
}
